.container {
  position:fixed;
  padding: 0;
  margin: 0 auto;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #008C68;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  padding: 0px;
  margin: 0 auto;
}

#board tr td {
  width: 180px;
  height: 180px;
  border: 5px solid #003326;
  font-family: 'Michroma', sans-serif;
  font-size: 100px;
  text-align: center;
  color: #003326;
}

#board tr td:hover {
  background: #00CC98;
  cursor: pointer;
}

h1 {
  font-size: 365%;
  color: #003326;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Michroma', sans-serif;
}

button {
  margin-top: 5px;
  background-color: #003326;
  color: #00CC98;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
}

.homePageHeaders {
    color: #003326;
    font-family: 'Michroma', sans-serif;
}

h4 {
  color: #003326;
  font-family: 'Michroma', sans-serif;  
}
