.container {
  position:fixed;
  padding: 0;
  margin: 0 auto;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #008C68;
  text-align: center;
  font-family: 'Michroma', sans-serif;
}

.content-wrap {
width: 960px;
margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  padding: 0px;
  margin: 0 auto;
}

#board tr td {
  width: 180px;
  height: 180px;
  border: 5px solid #003326;
  font-family: 'Michroma', sans-serif;
  font-size: 100px;
  text-align: center;
  color: #003326;
}

#board tr td:hover {
  background: #00CC98;
  cursor: pointer;
}

h1 {
  font-size: 365%;
  color: #003326;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Michroma', sans-serif;
}

button {
  margin: 0 20px 10px 20px;
  background-color: #003326;
  color: #00CC98;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
}

.xSymbol {
  color: #003326;
  font-size: 300px;
  display: inline-block;
}

.oSymbol {
  color: #003326;
  font-size: 260px;
  display: inline-block;
}

input {
  border: none;
  border-radius: 3px;
  font-size: 26px;
  position: relative;
  background-color: #003326;
  color: #00CC98;
}

#restartButton:hover {
  background-color: #00CC98;
  color: #003326;
}


.userOne {
  bottom: 500px;
  left: 430px;
}

.userTwo {
  bottom: 470px;
  left: 428px;
}

::placeholder {
  color: #004C39;
  opacity: 1;
}
